.idea/
*.pem
singo
unity_project/WebRTC_Sample/.vs/
unity_project/WebRTC_Sample/BuildWindows/
unity_project/WebRTC_Sample/Library/
unity_project/WebRTC_Sample/obj/
unity_project/WebRTC_Sample/Temp/
unity_project/WebRTC_Sample/UserSettings/
unity_project/WebRTC_Sample/Logs/
unity_project/WebRTC_Sample/WebRTC_Sample_2023_0209.zip
unity_project/WebRTC_Sample/WebRTC_Sample_2023_0222.zip
unity_project/WebRTC_Sample/WebRTC_Sample_2023_0310.zip
unity_project/WebRTC_Sample/WebRTC_Sample_2023_0314.zip
unity_project/WebRTC_Sample/WebRTC_Sample_2023_0315.zip
singo.exe
singo_2023_0316.zip
targets.log
.vscode/
